
/* From sabresd dtsi
 *	#include "imx6qdl-sabresd.dtsi"
 */
/ {
	aliases {
		mxcfb0 = &mxcfb1;
		i2c0 = &i2c1;
		i2c1 = &i2c2;
		i2c2 = &i2c3;
	};

	memory {
		reg = <0x10000000 0x40000000>;
	};

	leds {
		compatible = "gpio-leds";
	};

	gpioexport:gpio-export{
		compatible = "gpio-of-export";

	};

	pnglogo{
		compatible = "guf,png-logo";
		guf,logo-license = <0>;
		rotation = <0>;
	};

	clk_12mhz_ref:clk_12mhz_ref {
		compatible = "fixed-factor-clock";

		clocks = <&clks 201>;
		clock-names = "cko";
		clock-div = <1>;
		clock-mult = <1>;

		#clock-cells = <0>;
		clock-output-names = "ck12mhzref";

	};

	regulators:regulators {
		compatible = "simple-bus";

		supply_5P0: 5P0_supply {
			compatible = "regulator-fixed";
			regulator-name = "5P0";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
		};

		supply_VIN: VIN_supply {
			compatible = "regulator-fixed";
			regulator-name = "VIN";
			regulator-min-microvolt = <4500000>;
			regulator-max-microvolt = <4500000>;
			regulator-always-on;
			vin-supply = <&supply_5P0>;
		};

		reg_usb_otg_vbus: usb_otg_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb_otg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio4 15 0>;
			enable-active-low;
			vin-supply = <&supply_5P0>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_usb_otg_vbus_2>;
		};

		reg_usb_h1_vbus: usb_h1_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb_h1_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio1 0 0>;
			enable-active-low;
			vin-supply = <&supply_5P0>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_usb_h1_vbus_1>;
		};

		supply_VSNVS_3V0: VSNVS_3V0_supply {
			compatible = "regulator-fixed";
			regulator-name = "VSNVS_3V0";
			regulator-min-microvolt = <3000000>;
			regulator-max-microvolt = <3000000>;
			regulator-always-on;
			vin-supply = <&supply_5P0>;
		};
	};

	sound {
		compatible = "fsl,imx6-santaro-sgtl5000", "fsl,imx-audio-sgtl5000";
		model = "sgtl5000-audio";
		ssi-controller = <&ssi2>;
		audio-codec = <&codec>;
		audio-routing =
			"MIC_IN", "Mic Jack",
			"Mic Jack", "Mic Bias",
			"Headphone Jack", "HP_OUT";
		mux-int-port = <2>;
		mux-ext-port = <4>;
		gpio-speaker = <&gpio5 29 0>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_sound_1>; 	
	};

	mxcfb1: fb@0 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "lcd";
		interface_pix_fmt = "RGB666";
		mode_str = "LDB-GUF-Ampire-AM800480R3TMQW";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm1 0 50000>;
		brightness-levels = <0 40 80 160 320 640 1280 2550>;
		default-brightness-level = <7>;
		default-blank = <1>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_backlight_santino>;
		bl-pwr-gpio = <&gpio1 18 0>;
		bl-pwr-act-low = <0>;
		sysfs-name = "pwm-backlight.0";
	};
};

&anatop_vdd1p1 {
		vin-supply = <&supply_VSNVS_3V0>;
};
&anatop_vdd3p0 {
		vin-supply = <&reg_usb_h1_vbus>;
};
&anatop_vdd2p5 {
		vin-supply = <&supply_VSNVS_3V0>;
};

&gpio4 {
	gpio-default-label = "gpio-%d";
	gpio-label-10 = "clear_all";
};
&gpio5 {
	gpio-default-label = "gpio-%d";
	gpio-label-28 = "mdb_wakeup_out";
	gpio-label-18 = "led";
};
&gpio6 {
	gpio-default-label = "gpio-%d";
	gpio-label-7 = "keypad_pin3";
	gpio-label-8 = "keypad_pin4";
	gpio-label-9 = "keypad_pin5";
	gpio-label-10 = "keypad_pin6";
	gpio-label-11 = "keypad_pin7";
	gpio-label-15 = "keypad_pin8";
};

&gpioexport {
	/* Third gpio option are the flags, with custom meaning. */
	/*   bit 1   act-low	*/
	/*   bit 2   init high	*/

	gpio-grp-keypad_changeable {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_export_keypad_gpio_changeable>;
		direction-changeable;
		direction-input;
		
		/* Sysfs kp gpios with changeable direction */
		gpios =	
				<&gpio6 8 0>,	/*  KP_PIN_3 */
				<&gpio6 7 0>,	/*  KP_PIN_4 */
				<&gpio6 9 0>,	/*  KP_PIN_5 */
				<&gpio6 10 0>,	/*  KP_PIN_6 */
				<&gpio6 11 0>,	/*  KP_PIN_7 */
				<&gpio6 15 0>;	/*  KP_PIN_8 */

		status = "okay";
	};

	gpio-grp-keypad_fixed_in_santino {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_export_gpio_fixed_in_santino>;
		direction-not-changeable;
		direction-input;
		
		gpios = <&gpio4 10 1>;	/* CLEAR_ALL */

		status = "okay";
	};

	gpio-grp-keypad_fixed_out_santino {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_export_gpio_fixed_out_santino>;
		direction-not-changeable;
		direction-output;
		
		gpios = <&gpio5 18 2>;  /*  LED1 */

		status = "okay";
	};
};

&sdma {
	iram = <&ocram>;
};

&cpu0 {
	arm-supply = <&pmic_sw1a_vddcore>;
	soc-supply = <&pmic_sw1b_vddsoc>;
	pu-supply = <&pu_dummy>; /* use pu_dummy if VDDSOC share with VDDPU */
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet_4>;
	phy-mode = "rmii";
	status = "okay";
	local-mac-address = [00 07 8E 14 72 F8]; 
	phy-supply = <&supply_sw4_3V3>;
};

&gpc {
	fsl,cpu_pupscr_sw2iso = <0xf>;
	fsl,cpu_pupscr_sw = <0xf>;
	fsl,cpu_pdnscr_iso2sw = <0x1>;
	fsl,cpu_pdnscr_iso = <0x1>;
	fsl,ldo-bypass = <1>; /* use ldo-bypass, */
	fsl,wdog-reset = <1>; /* watchdog select of reset source */
	fsl,wdog-reset-srs = <0>; /* watchdog triggers the software reset */
	fsl,wdog-reset-wdog-b = <1>; /* watchdog triggers the external wdog reset */
	pu-supply = <&pu_dummy>; /* ldo-bypass:use pu_dummy if VDDSOC share with VDDPU */
};

&gpu {
	pu-supply = <&pu_dummy>; /* ldo-bypass:use pu_dummy if VDDSOC share with VDDPU */
};

&pu_dummy {
	regulator-always-on;
};

&sdma {
	fsl,sdma-ram-script-name = "imx/sdma/sdma-imx6q-to1.bin";
};

&i2c1 {
	clock-frequency = <400000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c1_2>;
	pinctrl-1 = <&pinctrl_i2c1_2_gpio>;
	status = "okay";

	gpio-scl = <&gpio5 26 0>;
	gpio-sda = <&gpio5 27 0>;

	rtc: rtcpcf8563@51 {
		compatible = "nxp,pcf8563";
		reg = <0x51>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_rtc>;

		/*irq-gpio = <&gpio4 8 0>; *//* Not implemented ? */ 
	};

	codec: sgtl5000@0a {
		compatible = "fsl,sgtl5000";
		reg = <0x0a>;

		clocks = <&clks 201>;
		clock-names = "cko";

		VDDA-supply = <&supply_sw4_3V3>;
		VDDIO-supply = <&supply_sw4_3V3>;
	};

	eeprom: eeprom@50 {
		compatible = "guf,gfeeprom";
		reg = <0x50>;
		pagesize = <32>;
		bytelen = <4096>;
		bus-id = <0>;
		flags = <0x80>;		/* AT24_FLAG_ADDR16 */
	};

	lm75: lm75@49 {
		compatible = "national,lm73";
		reg = <0x49>;

		interrupts = <7 0x4>; 
		interrupt-parent = <&gpio4>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lm75_1>;
	};

	pmic: pfuze3000@08 {
		compatible = "fsl,pfuze3000";
		reg = <0x08>;

		regulators {
			pmic_sw1a_vddcore: sw1a {
				regulator-name = "VDD_CORE (sw1a)";
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1875000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <6250>;

				default-voltage = <1375000>;
				
				vin-supply = <&supply_VIN>;
			};

			pmic_sw1b_vddsoc: sw1b {
				regulator-name = "VDD_SOC (sw1b)";
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1875000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <6250>;

				default-voltage = <1375000>;

				vin-supply = <&supply_VIN>;
			};

			supply_sw4_3V3: sw2 {
				regulator-name = "SW4_3V3 (sw2)";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;

				default-voltage = <3300000>;
				vin-supply = <&supply_VIN>;
			};

			supply_DDR_1V5: sw3b {
				regulator-name = "DDR_1V5 (sw3)";
				regulator-min-microvolt = <400000>;
				regulator-max-microvolt = <1975000>;
				regulator-boot-on;
				regulator-always-on;

				default-voltage = <1500000>;
				vin-supply = <&supply_VIN>;
			};

			swbst_reg: swbst {
				status = "disabled";
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5150000>;
				regulator-boot-on;
				regulator-always-on;

				default-voltage = <5000000>;
				vin-supply = <&supply_VIN>;
			};

			snvs_reg: vsnvs {
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <3000000>;
				regulator-boot-on;
				regulator-always-on;

				default-voltage = <3000000>;
				vin-supply = <&supply_VIN>;
			};

			vref_reg: vrefddr {
				regulator-boot-on;
				regulator-always-on;

				default-voltage = <750000>;
				vin-supply = <&supply_DDR_1V5>;
			};

			v33_reg: v33 {
				regulator-min-microvolt = <2850000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;

				default-voltage = <3300000>;
				vin-supply = <&supply_VIN>;
			};

			supply_VLDO2_1V5: vldo2 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1550000>;
				regulator-always-on;
				regulator-boot-on;

				default-voltage = <1200000>;
				vin-supply = <&v33_reg>;
			};
		};
	};
};

&i2c3 {
	clock-frequency = <400000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c3_5>;
	pinctrl-1 = <&pinctrl_i2c3_5_gpio>;
	status = "okay";

	gpio-scl = <&gpio1 5 0>;
	gpio-sda = <&gpio1 6 0>;
	
	eetii2c: eetii2c@04 {
		compatible = "eeti,eetii2c_ts";
		reg = <0x04>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ctouch>;

		reset-gpio = <&gpio1 20 0>;
		irq-gpio = <&gpio4 6 0>;
		irq-flags = <0x00000004>;  /* IRQF_TRIGGER_HIGH */

		status = "disabled";  /* will be enabled from the guf xml setting */
	};

	egalaxi2c: egalaxi2c@2a {
		compatible = "eeti,exc3000_ts";
		reg = <0x2a>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ctouch>;

		reset-gpio = <&gpio1 20 0>;
		irq-gpio = <&gpio4 6 0>;
		irq-flags = <0x00000004>;  /* IRQF_TRIGGER_HIGH */

		status = "disabled";  /* will be enabled from the guf xml setting */
	};


	pixcir: pixcir@5c {
		compatible = "auo,auo_pixcir_ts";
		reg = <0x5c>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ctouch>;

		interrupts = <6 0x2>; /* In the gpio4 interupt controller pin 6 irq is used, 0x2 = high-to-low-edge*/
		interrupt-parent = <&gpio4>;

		gpios = 
				<&gpio4 6 0>,  /* irq */
				<&gpio1 20 0>;  /* reset */
		x-size = <1024>;
		y-size = <600>;

		int-setting = <0>; /* AUO_PIXCIR_INT_PERIODICAL */

		status = "disabled";  /* will be enabled from the guf xml setting */
	};

	edt_ft5x06: edt_ft5x06@38 {
		compatible = "edt,ft5x06";
		reg = <0x38>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ctouch>;

		interrupts = <6 0x2>; /* In the gpio4 interupt controller pin 6 irq is used, 0x2 = high-to-low-edge*/
		interrupt-parent = <&gpio4>;

		reset-gpio = <&gpio1 20 0>;
		irq-gpio = <&gpio4 6 0>;

		status = "disabled";  /* will be enabled from the guf xml setting */
	};

	stmpe610: stmpe610@44 {
		compatible = "st,stmpe610";
		reg = <0x44>;
		interrupts = <11 0x8>; /* In the gpio4 interupt controller pin 11 irq is used, 0x8 = active low level-sensitive*/
		interrupt-parent = <&gpio4>;
		interrupt-controller;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_rtouch>;

		status = "disabled"; /* will be enabled from the guf xml setting */
	
		stmpe_touchscreen {
			compatible = "st,stmpe-ts";
			st,sample-time = <4>;
			st,mod-12b = <1>;
			st,ref-sel = <0>;
			st,adc-freq = <1>;
			st,ave-ctrl = <3>;
			st,touch-det-delay = <3>;
			st,settling = <3>;
			st,fraction-z = <7>;
			st,i-drive = <0>;
		};
	};
	
	sx8654: sx8654@48 { /* This is a resitive touch for with its own touch controller */
		compatible = "semtech,sx8654";
		reg = <0x48>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ctouch>;

		interrupts = <6 0x2>; /* In the gpio4 interupt controller pin 6 irq is used, 0x2 = high-to-low-edge*/
		interrupt-parent = <&gpio4>;

		reset-gpio = <&gpio1 20 0>;
		irq-gpio = <&gpio4 6 0>;

		status = "disabled";  /* will be enabled from the guf xml setting */
	};

	sisi2c: sisi2c@5c {
		compatible = "sis,sisi2c";
		reg = <0x5c>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ctouch>;

		interrupts = <6 0x2>; /* In the gpio4 interupt controller pin 6 irq is used, 0x2 = high-to-low-edge*/
		interrupt-parent = <&gpio4>;

		reset-gpio = <&gpio1 20 0>;
		irq-gpio = <&gpio4 6 0>;

		status = "disabled";  /* will be enabled from the guf xml setting */
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog_1 &pinctrl_pfid_0_2 &pinctrl_pfid_5_7>;

	wdog1 {
		pinctrl_wdog1_1: wdoggrp-1 {
			fsl,pins = <
				MX6QDL_PAD_GPIO_9__WDOG1_B 0x80000000
			>;
		};
	};

	pfid {
		pinctrl_pfid_3_4: pfid_3_4_grp {
			fsl,pins = <
				MX6QDL_PAD_NANDF_D3__GPIO2_IO03  0x80000000
				MX6QDL_PAD_NANDF_D4__GPIO2_IO04  0x80000000
			>;
		};
		pinctrl_pfid_0_2: pfid_0_2_grp {
			fsl,pins = <
				MX6QDL_PAD_NANDF_D0__GPIO2_IO00  0x80000000
				MX6QDL_PAD_NANDF_D1__GPIO2_IO01  0x80000000
				MX6QDL_PAD_NANDF_D2__GPIO2_IO02  0x80000000
			>;
		};
		pinctrl_pfid_5_7: pfid_5_7_grp {
			fsl,pins = <
				MX6QDL_PAD_NANDF_D5__GPIO2_IO05  0x80000000
				MX6QDL_PAD_NANDF_D6__GPIO2_IO06  0x80000000
				MX6QDL_PAD_NANDF_D7__GPIO2_IO07  0x80000000
			>;
		};
	};

	gpio_export {
		pinctrl_gpio_export_keypad_gpio_changeable: pinctrl_gpio_kpgrp-2 {
			fsl,pins = <
				MX6QDL_PAD_NANDF_ALE__GPIO6_IO08	0x80000000			/* KP_PIN_3 */
				MX6QDL_PAD_NANDF_CLE__GPIO6_IO07	0x80000000			/* KP_PIN_4 */
				MX6QDL_PAD_NANDF_WP_B__GPIO6_IO09	0x80000000			/* KP_PIN_5 */
				MX6QDL_PAD_NANDF_RB0__GPIO6_IO10	0x80000000			/* KP_PIN_6 */
				MX6QDL_PAD_NANDF_CS0__GPIO6_IO11	0x80000000			/* KP_PIN_7 */
				MX6QDL_PAD_NANDF_CS2__GPIO6_IO15	0x80000000			/* KP_PIN_8 */
			>;
		};
		pinctrl_gpio_export_gpio_fixed_in_santino: pinctrl_gpio_kpgrp-4 {
			fsl,pins = <
				MX6QDL_PAD_KEY_COL2__GPIO4_IO10		0x80000000			/* CLEAR ALL */
			>;
		};
		pinctrl_gpio_export_gpio_fixed_out_santino: pinctrl_gpio_kpgrp-5 {
			fsl,pins = <
				MX6QDL_PAD_CSI0_PIXCLK__GPIO5_IO18	0x80000000			/* LED1 */
			>;
		};
	};

	ctouch {
		pinctrl_ctouch: ctouch-grp-1{
			fsl,pins = <
				MX6QDL_PAD_KEY_COL0__GPIO4_IO06		0x80000000			/* CTOUCH_INT */
				MX6QDL_PAD_SD1_CLK__GPIO1_IO20		0x80000000			/* CTOUCH_RESET */
			>;
		};
	};

	rtouch {
		pinctrl_rtouch: rtouch-grp-1 {
			fsl,pins = <
				MX6QDL_PAD_KEY_ROW2__GPIO4_IO11		0x80000000			/* ResTOUCH_INT */
			>;
		};
	};

	rtc {
		pinctrl_rtc: rtc-grp-1 {
			fsl,pins = <
				MX6QDL_PAD_KEY_COL1__GPIO4_IO08		0x80000000			/* RTC INT */
			>;
		};
	};

	lm75 {
		pinctrl_lm75_1:lm75_grp-1 {
			fsl,pins = <
				MX6QDL_PAD_KEY_ROW0__GPIO4_IO07		0x80000000			/* TALERT */
			>;
		};
	};

	sound {
		pinctrl_sound_1: sound_grp-1 {
			fsl,pins = <
				MX6QDL_PAD_CSI0_DAT11__GPIO5_IO29	0x80000000			/* Speaker ON */
			>;
		};
	};

	backlight {
		pinctrl_backlight_santino: backlightgrp-santino-1 {
			fsl,pins = <
				MX6QDL_PAD_SD1_CMD__GPIO1_IO18		0x80000000			/* BL_ON */
			>;
		};
	};

	/* System wide pin configs */
	hog {
		pinctrl_hog_1: hoggrp-1 {
			fsl,pins = <
				/* Clock out 12Mhz Ref */
				MX6QDL_PAD_CSI0_MCLK__CCM_CLKO1		0x17059  /* PAD_CTL_PKE | PAD_CTL_PUE | PAD_CTL_PUS_47K_UP | PAD_CTL_SPEED_LOW | PAD_CTL_DSE_80ohm | PAD_CTL_SRE_FAST | PAD_CTL_HYS */
															 /* (1 << 12)   | (1 << 13)   |(1 << 14)           | (1 << 6)          | (3 << 3)          |(1 << 0)          | (1 << 16)   */
			>;
		};
	};
};

&wdog1 {
	fsl,default-timeout = <60>;	/* Default timeout on seconds */
	fsl,reset-wdog-b = <1>;		/* watchdog triggers the external wdog reset */

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog1_1>;
};


&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm1_1>;
	status = "okay";
};

&ssi2 {
	fsl,mode = "i2s-master";
	status = "okay";
};

&usbh1 {
	vbus-supply = <&reg_usb_h1_vbus>;
	status = "okay";
};

&usbotg {
	vbus-supply = <&reg_usb_otg_vbus>;
	disable-over-current;
	status = "okay";
};

/* sdcard */
&usdhc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2_2>;
	cd-gpios = <&gpio1 4 0>;
	no-1-8-v;
	keep-power-in-suspend;
	enable-sdio-wakeup;
	vmmc-supply = <&supply_sw4_3V3>;
	status = "okay";
};

/* emmc */
&usdhc4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc4_1>;
	bus-width = <8>;
	non-removable;
	no-1-8-v;
	keep-power-in-suspend;
	vmmc-supply = <&supply_sw4_3V3>;
	status = "okay";
};

&vpu {
	pu-supply = <&pu_dummy>; /* ldo-bypass: use pu_dummy if VDDSOC share with VDDPU */
};

&lcdif {
	ipu_id = <0>;
	disp_id = <0>;
	sec_ipu_id = <0>;
	ext_ref = <1>;
	mode = "sin0"; 
	sec_ipu_id = <0>;
	sec_disp_id = <1>;
	display = <&display1>;

	mapping = "SPWG";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lcdif_1>;

	status = "disabled";

	display1: display1 {
		bits-per-pixel = <16>;
		bus-width = <24>;

		power-on-off-timings = <5 210 210  10 1000>;
		backlight = <&backlight>;
		lcd-enable-gpio = <&gpio5 21 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lcd_enable>;

		display-timings {
			native-mode = <&timing0>;
			timing0: timing0 {
				clock-frequency = <35339000>;
				hactive = <800>;
				vactive = <480>;
				hfront-porch = <100>;
				hback-porch = <100>;
				hsync-len = <24>;
				vback-porch = <5>;
				vfront-porch = <5>;
				vsync-len = <3>;

				fb-sync-flags = <0>;
			};
		};
	};
};

/* LDO mode section */
/*#include "imx6qdl-guf-ldo-mode.dtsi" */
